Source: telegramqml
Section: libs
Priority: optional
Maintainer: Aseman Team <contact@aseman.co>
Build-Depends:
 debhelper (>= 10),
 libappindicator-dev,
 libqt5multimedia5 (>= 5.2.0),
 libqt5multimedia5-plugins (>= 5.2.0),
 libqt5multimediaquick-p5 (>= 5.2.0),
 qml-module-qtgraphicaleffects,
 libqt5qml5 (>= 5.2.0),
 libqt5quick5 (>= 5.2.0),
 libqt5sql5-sqlite (>= 5.2.0),
 libqt5webkit5-dev (>= 5.1.0),
 libqtelegram-ae-dev,
 libssl1.0-dev,
 qt5-qmake,
 qtbase5-dev (>= 5.2.0),
 qtchooser,
 qml-module-qtquick-controls,
 qtdeclarative5-dev (>= 5.2.0),
 qtmultimedia5-dev (>= 5.2.0),
Standards-Version: 3.9.8
Homepage: http://aseman.co/telegramqml
Vcs-Git: https://github.com/Aseman-Land/TelegramQML

Package: telegramqml
Section: libs
Architecture: any
Depends:
 libqt5multimedia5 (>= 5.2.0),
 libqt5multimedia5-plugins (>= 5.2.0),
 libqt5multimediaquick-p5 (>= 5.2.0),
 qml-module-qtgraphicaleffects,
 libqt5sql5-sqlite (>= 5.2.0),
 qt5-image-formats-plugins,
 qml-module-qtquick-controls,
 qml-module-qtquick-dialogs,
 qml-module-qtmultimedia,
 qml-module-qtquick2,
 qml-module-qtsensors,
 qml-module-qtquick-window2,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Telegram API tools for QtQML and Qml,
 based on Cutegram-Core and libqtelegram.
 It's free and released under the GPLv3 license.
